@import controllers.actions.LoginState
@import helper.{form, _}
@import models.master.{NFTOwner, SecondaryMarket}
@import views.html.base.commonStringValue
@import views.html.base.form._

@(nft: master.NFT, liked: Option[Boolean], onClickFunction: JavaScript, nftOwner: Option[NFTOwner], secondaryMarket: Option[SecondaryMarket], draft: Boolean = false)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

    @if(draft) {
        <div class="singleNFTCard col-sm-6 col-md-12 col-lg-6 col-xl-4 mt-3 draftNft">
            <div class="card border-0 h-100">
            } else {
        <div class="singleNFTCard col-sm-6 col-md-12 col-lg-6 col-xl-4 mt-3">
            <div class="card border-0">
            }
    <div class="fractionelisedBadge">
        <div class="badgeContent">
            <i class="bi bi-puzzle-fill iconDefault iconSmall"></i>
            @if(nftOwner.isDefined) {
                <span>@nftOwner.get.quantity/@nft.totalSupply</span>
            } else {
                <span>-/@nft.totalSupply</span>
            }
        </div>
    </div>
    <div class="card-img rounded-0 skeletonLoadContainer">
        <span onclick="@onClickFunction" style="cursor: pointer;">
            <img src = "@nft.getS3Url"/>
        </span>
    </div>
    <div class="nft-detail d-flex flex-column pt-3 pb-0">
        <div class="px-3">
            <div class="d-flex align-items-center gap-1 nft-property-address-primary">Property Address</div>
            <div class="d-flex align-items-center gap-1 nft-property-address-secondary">Property Address</div>

            <div class="d-flex align-items-center gap-1 mt-2 nft-property-price">
                <img class="align-middle" src="@routes.Assets.versioned("images/icon/rupee_primary_circle.svg")" width="21" height="16"/>
                <span>1.20Cr Total Property Price</span>
            </div>
            <div class="d-flex align-items-center gap-1 mt-1 nft-rental-yield">
                <img class="align-middle" src="@routes.Assets.versioned("images/icon/rupee_gray_loop.svg")" width="21" height="16"/>
                <span>6% Rental yield</span>
            </div>
        </div>

@*        Previous Creator details*@
@*        <div class="px-3 d-flex flex-row gap-2 nft-creator-detail">*@
@*            <div class="creator-profile skeletonLoadContainer">*@
@*                <img src="@routes.Assets.versioned("images/defaultCollectionProfile.png")"/>*@
@*            </div>*@
@*            <div class="d-flex flex-column justify-content-center">*@
@*            @if(nft.address) {*@
@*                <span class="nft-name mb-1">*@
@*                @commonStringValue(message = nft.address, id = utilities.IdGenerator.getRandomHexadecimal, length = 15)*@
@*                </span>*@
@*            }*@
@*            </div>*@
@*        </div>*@

        @if(draft) {
            <div class="px-3 d-flex gap-2 justify-content-end pt-4">
                <i class="bi bi-pencil iconDefault" onclick="getForm(jsRoutes.controllers.NFTController.basicDetailsForm('@nft.id'))"></i>
                <i class="bi bi-trash iconDefault" onclick="getForm(jsRoutes.controllers.NFTController.deleteDraftForm('@nft.id', '@nft.getFileHash'))"></i>
                <div id="deleteNftDraft_@nft.getFileHash" class="hidden">
                @defining(views.nft.companion.DeleteDraft.form) { deleteDraftForm =>
                    @form(routes.NFTController.deleteDraft()) {
                        @CSRF.formField
                        @commonInputText(deleteDraftForm, constants.FormField.NFT_ID, Symbol("value") -> nft.id, Symbol("readonly") -> "readonly")
                    }
                }
                </div>
            </div>
        }

@*     Previous Price component*@

@*      else {*@
@*            <div class="px-3 d-flex justify-content-between">*@
@*                <div class="d-flex flex-row gap-1 align-items-center mt-3">*@
@*                    <div class=""><img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.png")" width="24" height="27"/></div>*@
@*                    <div id="price_@nft.getFileHash" class="nft-mantle-price">@secondaryMarket.fold("--")(_.price.formatNumber())</div>*@
@*                    <div id="dollarPrice_@nft.getFileHash" class="nft-dollar-price">@secondaryMarket.fold("(--)")(x => s"(${utilities.NumericOperation.formatNumber(x.price)} $$)")</div>*@
@*                </div>*@
@*                @if(loginState.nonEmpty) {*@
@*                    <div class="d-flex align-items-center gap-1 mt-3">*@
@*                        <div id="addToWishlistContainer_@nft.getFileHash" class="hidden">*@
@*                        @views.html.nft.addToWishlist(nft)*@
@*                        </div>*@
@*                        <div id="deleteFromWishlistContainer_@nft.getFileHash" class="hidden">*@
@*                        @views.html.nft.deleteFromWishlist(nft)*@
@*                        </div>*@
@*                        <span onclick="addRemoveWishlist(this, '@nft.getFileHash', '@Messages(constants.View.ADDED_TO_WISHLIST)', '@Messages(constants.View.REMOVED_FROM_WISHLIST)')">*@
@*                        @views.html.nft.commonCardWishlistButton(liked.getOrElse(false))*@
@*                        </span>*@
@*                        <div class="nft-likes" data-id="@nft.id">00</div>*@
@*                    </div>*@
@*                } else {*@
@*                    <div class="d-flex align-items-center gap-1 mt-3" onclick="getForm(@utilities.JsRoutes.getJsRouteString(constants.Form.SIGN_IN_WITH_CALLBACK.get, s"'/market'"))">*@
@*                        <span>*@
@*                        @views.html.nft.commonCardWishlistButton(liked.getOrElse(false))*@
@*                        </span>*@
@*                        <div class="nft-likes" data-id="@nft.id">00</div>*@
@*                    </div>*@
@*                }*@
@*            </div>*@
@*        }*@
        <div class="nftCardSeparator mb-0 mt-3"></div>
        <div class="px-1 py-2 bg-primary">
            <div class="nftPriceButton d-flex align-items-center justify-content-center gap-1 text-white">
                <span class="nftPriceButton-inr" id="price_@nft.getFileHash">&#8377;@secondaryMarket.fold("--")(_.price.formatNumber())</span>
                <span class="nftPriceButton-usd" id="dollarPrice_@nft.getFileHash">@secondaryMarket.fold("(--)")(x => s"($$${utilities.NumericOperation.formatNumber(x.price)})")</span>
@*            @if(nft.isMinted.getOrElse(false)) {*@
@*                <div class="iconTooltip">*@
@*                    <span class="tooltipText top">@Messages(constants.View.NFT_STATUS_MINTED)</span>*@
@*                    <i class="bi bi-link-45deg iconDefault iconSize24"></i>*@
@*                </div>*@
@*            } else {*@
@*                <div class="iconTooltip">*@
@*                    <span class="tooltipText top">@Messages(constants.View.NFT_STATUS_NOT_MINTED)</span>*@
@*                    <i class="bi bi-link-45deg iconGray iconSize24"></i>*@
@*                </div>*@
@*            }*@
            </div>
        </div>
    </div>
</div>
</div>
    <script>
            showLoader();
    </script>