@import utilities.MicroNumber
@import views.html.base.form._
@import views.nft.companion.Mint
@(mintForm: Form[Mint.Data] = Mint.form, nftId: String, bondAmount: Long)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.NFT_MINT, mintForm) {
    @commonInputText(mintForm, constants.FormField.NFT_ID, Symbol("value") -> nftId, Symbol("containerDivClass") -> "hidden", Symbol("readonly") -> "readonly")
    <div class="container p-0" id="invoice" >
        <div class="card">
            <div class="card-body py-1 px-2">
                <div class="table-responsive-sm">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <td class="text-left tableLabel">@Messages(constants.View.NFT_INVOICE_TABLE_FIELD_BONDING_AMOUNT)</td>
                                <td class="text-center tableValue">
                                    <span class="BondingUnitCost">@(bondAmount / MicroNumber.factor)</span> $MNTL
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @commonInputPassword(mintForm, constants.FormField.PASSWORD)
}