@import views.html.base.form._
@import views.nft.companion.NFTBasicDetail
@import models.masterTransaction.NFTDraft
@import views.html.base.modal._

@(nftBasicDetailForm: Form[NFTBasicDetail.Data] = NFTBasicDetail.form, collectionId: String, nftId: String, optionalNFTDraft: Option[NFTDraft])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.NFT_BASIC_DETAIL, nftBasicDetailForm, submitDisable = !(optionalNFTDraft.isDefined && optionalNFTDraft.get.name.isDefined)) {
    @multiStepNavigator(Seq(Messages(constants.View.NFT_STEPPER_FILE),Messages(constants.View.COLLECTION_STEPPER_BASIC_INFORMATION), Messages(constants.View.COLLECTION_STEPPER_PROPERTIES)), defaultSelected = 1)
    @if(optionalNFTDraft.isDefined && optionalNFTDraft.get.name.isDefined && optionalNFTDraft.get.description.isDefined) {
        @commonInputText(nftBasicDetailForm, constants.FormField.NFT_NAME, Symbol("value") -> optionalNFTDraft.get.name.get)
        @commonDescriptionText(nftBasicDetailForm, constants.FormField.NFT_DESCRIPTION, Symbol("value") -> optionalNFTDraft.get.description.get)
    } else {
        @commonInputText(nftBasicDetailForm, constants.FormField.NFT_NAME)
        @commonDescriptionText(nftBasicDetailForm, constants.FormField.NFT_DESCRIPTION)
    }
    @commonInputText(nftBasicDetailForm, constants.FormField.NFT_TAGS, Symbol("class") -> "hidden")
    <div class="hashtagWrapper">
        <div class="content">
            <label for="hashtagField">@Messages(constants.View.CREATE_NFT_TAG_LABEL)</label>
            <ul id="hashtagList" class="mt-2">
                <input type="text" id="hashtagField" placeholder="@Messages(constants.View.CREATE_NFT_TAG_PLACEHOLDER)"/>
            </ul>
        </div>
        <div class="mt-1 view details">
            <p><span>@constants.NFT.Tags.MaximumAllowed</span> @Messages(constants.View.CREATE_NFT_TAG_REMAINING_LABEL)</p>
        </div>
    </div>
    @commonInputText(nftBasicDetailForm, constants.FormField.COLLECTION_ID, Symbol("value") -> collectionId, Symbol("containerDivClass") -> "hidden", Symbol("readonly") -> "readonly")
    @commonInputText(nftBasicDetailForm, constants.FormField.NFT_ID, Symbol("value") -> nftId, Symbol("containerDivClass") -> "hidden", Symbol("readonly") -> "readonly")
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/createNft.js")"></script>
@if(optionalNFTDraft.isDefined && optionalNFTDraft.get.tagNames.isDefined) {
    <script>
            addDraftTags('@optionalNFTDraft.get.tagNames.get.mkString(",")')
    </script>
}