@import models.master.Collection
@import views.html.base.form._
@import views.html.base.modal._
@import views.html.helper.repeatWithIndex
@import views.html.nft.commonValueField
@import views.nft.companion.SetProperties

@(setPropertiesForm: Form[SetProperties.Data] = SetProperties.form, collection: Collection, nftId: String)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

@commonForm(constants.Form.NFT_SET_PROPERTIES, setPropertiesForm, showBackButton = true, callBackFunction = JavaScript(s"""updateNFTContainer('${collection.id}')""")) {
    @multiStepNavigator(Seq(Messages(constants.View.NFT_STEPPER_FILE), Messages(constants.View.COLLECTION_STEPPER_BASIC_INFORMATION), Messages(constants.View.COLLECTION_STEPPER_PROPERTIES)), defaultSelected = 2)
    @commonInputText(setPropertiesForm, constants.FormField.COLLECTION_ID, Symbol("value") -> collection.id, Symbol("containerDivClass") -> "hidden")
    @commonInputText(setPropertiesForm, constants.FormField.NFT_ID, Symbol("value") -> nftId, Symbol("containerDivClass") -> "hidden")
    @commonCheckbox(setPropertiesForm, constants.FormField.SAVE_NFT_DRAFT, Symbol("containerDivClass") -> "hidden")
    @defining(Option(constants.FormField.COLLECTION_PROPERTIES)) { implicit nestedFormField =>
        @repeatWithIndex(setPropertiesForm(constants.FormField.NFT_PROPERTIES.name), min = collection.properties.fold(0)(_.length)) { (propertyField, index) =>
            @defining(Option(propertyField)) { implicit sequentialFormField =>
                @if(collection.properties.fold(0)(_.length) > 0) {
                    <div>
                        <div class="hidden">
                            @commonInputText(setPropertiesForm, constants.FormField.NFT_PROPERTY_NAME, Symbol("value") -> collection.properties.get(index).name)
                            @commonInputText(setPropertiesForm, constants.FormField.NFT_PROPERTY_VALUE, Symbol("value") -> collection.properties.get(index).defaultValue)
                        </div>
                        @commonValueField(collection.properties.get(index).`type`, collection.properties.get(index).defaultValue, index, label = collection.properties.get(index).name)
                    </div>
                }
            }
        }
    }
    <div class="horizontal-align">
        <div class="d-flex gap-3 align-items-center me-3 propertyModalButton">
            <button class="form-secondary-button active" type="button" onclick="saveToDraftNft()">@Messages(constants.View.CREATE_COLLECTION_SAVE_DRAFT_BUTTON)</button>
            <button class="form-primary-button active" type="button" onclick="submitButtonNft();">@Messages(constants.View.CREATE_COLLECTION_NEXT_BUTTON)</button>
        </div>
    </div>
}
<script src="@utilities.PublicResource.getVersionedRoute("javascripts/nfts/setProperties.js")"></script>
<script>
        hideSubmitButton();
        setPropertyBackButton('@collection.id', '@nftId');
</script>