@import controllers.actions.LoginState
@import models.master.NFT

@(collection: master.Collection, randomNFTs: Seq[NFT])(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, loginState: Option[LoginState])

<div class="item item-center nftContainer">
    <div class="profileCover">
        <div class="profileCoverContainer skeletonLoadContainer" id="collectionUncompressedCoverImage_@collection.id">
        @collection.getCoverFileURL.fold {
            <img src="@routes.Assets.versioned("images/defaultCollectionCover.png")"/>
        } { uri =>
            <img src="@uri">
        }
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/library/swiper-bundle.min.css")"/>
    <script src="@routes.Assets.versioned("javascripts/library/swiperBundle.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/library/cssScrollSnap.js")"></script>
    <div id="collectionSaleNFTs">
    @if(randomNFTs.length > 1) {
        <div class="swiper-container collectionNFTSwiper">
            <div class="swiper-wrapper">
            @randomNFTs.map { randomNFT =>
                <div class="swiper-slide">
                    <div class="imageContainer skeletonLoadContainer">
                        <img src="@randomNFT.getS3Url"/>
                    </div>
                </div>
            }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    } else {
        <div class="NFTCard">
            <div class="imageContainer skeletonLoadContainer">
            @randomNFTs.map { randomNFT =>
                <img src="@randomNFT.getS3Url"/>
            }
            </div>
        </div>
    }
    </div>
    <script src="@routes.Assets.versioned("javascripts/collections/nftOnSale.js")"></script>
</div>
<script>
        showLoader();
</script>