@import models.masterTransaction.CollectionDraft
@import views.collection.companion.Edit
@import views.html.base.form._
@import views.html.base.modal._

@(editForm: Form[Edit.Data] = Edit.form, collectionDraft: CollectionDraft)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)

    @commonForm(constants.Form.EDIT_COLLECTION, editForm, submitDisable = false) {
        @multiStepNavigator(Seq(Messages(constants.View.COLLECTION_STEPPER_BASIC_INFORMATION), Messages(constants.View.COLLECTION_STEPPER_IMAGE_UPLOAD), Messages(constants.View.COLLECTION_STEPPER_CAPABILITIES), Messages(constants.View.COLLECTION_STEPPER_PROPERTIES)))
        @commonInputText(editForm, constants.FormField.COLLECTION_ID, Symbol("value") -> collectionDraft.id, Symbol("readonly") -> "readonly", Symbol("containerDivClass") -> "hidden")
        @commonInputText(editForm, constants.FormField.COLLECTION_NAME, Symbol("value") -> collectionDraft.name)
        @commonDescriptionText(editForm, constants.FormField.COLLECTION_DESCRIPTION, Symbol("value") -> collectionDraft.description)
        @if(collectionDraft.nsfw) {
            @commonToggleButton(editForm, constants.FormField.NSFW_COLLECTION, Symbol("checked") -> "checked")
        } else {
            @commonToggleButton(editForm, constants.FormField.NSFW_COLLECTION)
        }
        @commonInputBigDecimal(editForm, constants.FormField.COLLECTION_ROYALTY, Symbol("value") -> (collectionDraft.royalty * 100))
        @commonInputURL(editForm, constants.FormField.COLLECTION_WEBSITE, Symbol("required") -> false, Symbol("value") -> collectionDraft.getWebsite.getOrElse(""))
        @commonInputText(editForm, constants.FormField.COLLECTION_TWITTER, Symbol("required") -> false, Symbol("value") -> collectionDraft.getTwitter.getOrElse(""))
        @commonInputText(editForm, constants.FormField.COLLECTION_INSTAGRAM, Symbol("required") -> false, Symbol("value") -> collectionDraft.getInstagram.getOrElse(""))
    }