@import controllers.actions.LoginState
@import models.analytics.CollectionAnalysis
@import models.master.{Collection, NFT, NFTOwner, SecondaryMarket}
@import views.html.base.buttons._

@(collection: Collection, collectionAnalysis: CollectionAnalysis, nft: NFT, userNFTOwner: Option[NFTOwner], lowestPriceSecondaryMarket: Option[SecondaryMarket], userSecondaryMarket: Option[SecondaryMarket], tokenPrice: Double, totalOwners: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider, optionalLoginState: Option[LoginState])

<div class="d-flex flex-column gap-3 sticky-top item-sticky">
    <div class="sticky-top item-sticky">
        <div class="card rightInfoCard">
            <div class="d-flex flex-column gap-1 mt-2">
                <div class="analysisTitle">@Messages(constants.View.TOTAL_SUPPLY)</div>
                <div class="analysisValue">@nft.totalSupply</div>
            </div>
            <div class="d-flex flex-column gap-1 mt-2">
                <div class="analysisTitle">@Messages(constants.View.COLLECTION_ROYALTY_FEES)</div>
                <div class="analysisValue">@(collection.royalty * 100) %</div>
            </div>
            <div class="separator"></div>
            @if(nft.totalSupply == 1) {
                @if(optionalLoginState.isDefined) {
                    @if(userNFTOwner.isDefined && optionalLoginState.get.username == userNFTOwner.get.ownerId) {
                        @if(nft.isMinted.getOrElse(false)) {
                            @commonPrimaryButton(Messages(constants.View.SELL_NFT), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.createForm('${nft.id}'))"))
                            @commonSecondaryButton(Messages(constants.View.TRANSFER_NFT), JavaScript(s"getForm(jsRoutes.controllers.NFTController.transferForm('${nft.id}'))"), Symbol("class") -> "mt-4")
                        } else {
                            @commonPrimaryButton(Messages(constants.View.MINT_NFT), JavaScript(s"getForm(jsRoutes.controllers.NFTController.mintForm('${nft.id}'))"), Symbol("class") -> "mt-4")
                        }
                    }
                    @if(userSecondaryMarket.isDefined && userSecondaryMarket.get.sellerId == optionalLoginState.get.username) {
                        <div class="separator"></div>
                        <div class="analysisValue mb-2">@Messages(constants.View.SELLER_NFT_PRICE)</div>
                        <div class="d-flex flex-row gap-1 priceHolder">
                            <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.png")" width="24" height="27"/>
                            <div class="d-flex gap-1 align-items-center flex-wrap">
                                <div class="nft-mantle-price">@utilities.NumericOperation.formatNumber(userSecondaryMarket.get.price) @Messages(constants.View.NFT_SALE_TOKEN_UNITS)</div>
                                <div class="nft-dollar-price">
                                    (@utilities.NumericOperation.formatNumber(userSecondaryMarket.get.price * tokenPrice) $)</div>
                            </div>
                        </div>
                        @commonPrimaryButton(Messages(constants.View.CANCEL_ORDER), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.cancelForm('${nft.id}', '${userSecondaryMarket.get.id}'))"), Symbol("class") -> "mt-4")
                    }
                    @if(lowestPriceSecondaryMarket.isDefined && lowestPriceSecondaryMarket.get.sellerId != optionalLoginState.get.username) {
                        <div class="separator"></div>
                        <div class="analysisValue mb-2">@Messages(constants.View.LOWEST_NFT_PRICE)</div>
                        <div class="d-flex flex-row gap-1 priceHolder">
                            <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.png")" width="24" height="27"/>
                            <div class="d-flex gap-1 align-items-center flex-wrap">
                                <div class="nft-mantle-price">@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price) @Messages(constants.View.NFT_SALE_TOKEN_UNITS)</div>
                                <div class="nft-dollar-price">
                                    (@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price * tokenPrice) $)</div>
                            </div>
                        </div>
                        @commonPrimaryButton(Messages(constants.View.BUYNOW), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.buyForm('${lowestPriceSecondaryMarket.get.id}'))"), Symbol("class") -> "mt-4")
                    }
                } else {
                    @if(lowestPriceSecondaryMarket.isDefined) {
                        <div class="separator"></div>
                        <div class="analysisValue mb-2">@Messages(constants.View.LOWEST_NFT_PRICE)</div>
                        <div class="d-flex flex-row gap-1 priceHolder">
                            <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.png")" width="24" height="27"/>
                            <div class="d-flex gap-1 align-items-center flex-wrap">
                                <div class="nft-mantle-price">@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price) @Messages(constants.View.NFT_SALE_TOKEN_UNITS)</div>
                                <div class="nft-dollar-price">
                                    (@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price * tokenPrice) $)</div>
                            </div>
                        </div>
                        @commonPrimaryButton(Messages(constants.View.BUYNOW), JavaScript(s"getForm(jsRoutes.controllers.AccountController.signInWithCallbackForm('/market/${collection.id}'))"), Symbol("class") -> "mt-4")
                    } else {
                        <div class="analysisValue">@Messages(constants.View.NOT_LISTED_ON_SECONDARY_MARKET)</div>
                    }
                }
            } else {
                <div class="d-flex flex-column gap-1">
                    <div class="analysisTitle">@Messages(constants.View.TOTAL_OWNERS)</div>
                    <div class="analysisValue">@totalOwners</div>
                </div>
                @if(userNFTOwner.isDefined && optionalLoginState.get.username == userNFTOwner.get.ownerId) {
                    <div class="d-flex flex-column gap-1 mt-3">
                        <div class="analysisTitle">@Messages(constants.View.QUANTITY_OWNED)</div>
                        <div class="analysisValue">@userNFTOwner.get.quantity</div>
                    </div>
                    <div class="separator"></div>
                    @if(nft.isMinted.getOrElse(false)) {
                        @commonPrimaryButton(Messages(constants.View.SELL_NFT), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.createForm('${nft.id}'))"), Symbol("class") -> "mt-4")
                        @commonSecondaryButton(Messages(constants.View.TRANSFER_NFT), JavaScript(s"getForm(jsRoutes.controllers.NFTController.transferForm('${nft.id}'))"), Symbol("class") -> "mt-4")
                    } else {
                        @commonPrimaryButton(Messages(constants.View.MINT_NFT), JavaScript(s"getForm(jsRoutes.controllers.NFTController.mintForm('${nft.id}'))"), Symbol("class") -> "mt-4")
                    }
                }
                @if((lowestPriceSecondaryMarket.isDefined && userSecondaryMarket.isEmpty) || (lowestPriceSecondaryMarket.isDefined && userSecondaryMarket.isDefined && lowestPriceSecondaryMarket.get.id != userSecondaryMarket.get.id)) {
                    <div class="separator"></div>
                    <div class="analysisValue mb-2">@Messages(constants.View.LOWEST_NFT_PRICE)</div>
                    <div class="d-flex flex-row gap-1 priceHolder">
                        <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.png")" width="24" height="27"/>
                        <div class="d-flex gap-1 align-items-center flex-wrap">
                            <div class="nft-mantle-price">@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price) @Messages(constants.View.NFT_SALE_TOKEN_UNITS) per Unit</div>
                            <div class="nft-dollar-price">
                                (@utilities.NumericOperation.formatNumber(lowestPriceSecondaryMarket.get.price * tokenPrice) $)</div>
                        </div>
                    </div>
                    @commonPrimaryButton(Messages(constants.View.BUYNOW), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.buyForm('${lowestPriceSecondaryMarket.get.id}'))"), Symbol("class") -> "mt-4")
                    @Messages(constants.View.OTHER_OFFERS)
                }
                @if(userSecondaryMarket.isDefined && userSecondaryMarket.get.sellerId == optionalLoginState.get.username) {
                    <div class="separator"></div>
                    <div class="analysisValue mb-2">@Messages(constants.View.SELLER_NFT_PRICE)</div>
                    <div class="d-flex flex-row gap-1 priceHolder">
                        <img class="align-middle" src="@routes.Assets.versioned("images/NFTCard/token.png")" width="24" height="27"/>
                        <div class="d-flex gap-1 align-items-center flex-wrap">
                            <div class="nft-mantle-price">@utilities.NumericOperation.formatNumber(userSecondaryMarket.get.price) @Messages(constants.View.NFT_SALE_TOKEN_UNITS) per Unit</div>
                            <div class="nft-dollar-price">
                                (@utilities.NumericOperation.formatNumber(userSecondaryMarket.get.price * tokenPrice) $)</div>
                        </div>
                    </div>
                    @commonPrimaryButton(Messages(constants.View.CANCEL_ORDER), JavaScript(s"getForm(jsRoutes.controllers.SecondaryMarketController.cancelForm('${nft.id}', '${userSecondaryMarket.get.id}'))"), Symbol("class") -> "mt-4")
                }
            }
        </div>
    </div>
</div>